/* ===============================
   FIXED NAVBAR
================================= */

.navbar {
    position: fixed;              /* IMPORTANT */
    top: 0;
    left: 230px;                  /* match sidebar width */
    width: calc(100% - 230px);    /* full width minus sidebar */

    height: 80px;

    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 2px 15px rgba(0,0,0,0.04);
    z-index: 1000;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: #0d47a1;
    letter-spacing: 1px;
}

.gstin {
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}
